#operations_Buttons {
   
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    font: bold 3em Impact;
    outline: none;
}

#results_Buttons {
   
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    font: bold 3em Impact;
    outline: none;
}

body { display: flex; 
    height: 100vh;
    margin: auto; 
    padding: 20px;
    background: silver;
    box-shadow: 0 0 10px black;
    border-radius: 10px; }

#Beggining {
    text-align: left;
    font: bold Impact;
    width: 250px;
}